body {
	margin: 0;
}

header {
	width: 100vw;
	height: 64px;
	position: fixed;
	background: rgba(255, 255, 255, 0.1);
}

	#header-content {
		height: 50%;
		padding: 16px;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
	}

		#header-left {
			justify-content: flex-start;
			background: rgba(255, 255, 255, 0.1);
		}

			#logo-container {
				height: 100%;
				width: 75%;
			}

		#header-right {
			height: 100%;
			justify-content: flex-end;
			flex-direction: row;
			flex-wrap: nowrap;
		}

			#header-connection-container {
				height: 100%;
				background: rgba(255, 255, 255, 0.1);
				display: flex;
				justify-content: flex-end;
				flex-direction: row;
			}
			
				.header-connection {
					fill: #FFF;
				}

			#header-jump-container {
				height: 100%;
			}

#main {
	height: 100vh;
	background: #31333b;
}