@font-face {
	font-family: ChicagoMoonshine;
	src: url(assets/fonts/ChicagoMoonshine.ttf);
}

body {
	margin: 0;
	background-color: #0f0f0f;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;
}

:root {
	--background-square-size: calc(100vh / 21);
}

.background {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: url('assets/images/backdrop/base.png');
	background-size: 100vw 100vh;
	overflow: hidden;
}

.background-tile {
	position: fixed;
	margin-top: -25vh;
	margin-left: -25vw;
	width: max(200vw, 200vh);
	height: max(200vw, 200vh);
	image-rendering: pixelated;
	transform: rotate(15deg);
	transform-origin: center;
	opacity: 37%;
}

.background-dark-tile {
	background: url('assets/images/backdrop/grid-tile-dark.png');
	background-size: var(--background-square-size);
	background-repeat: repeat;
	animation: scrollDarkTile 1.33s linear infinite;
}

@keyframes scrollDarkTile {
	from { background-position: 0 0; }
	to { background-position: calc(1 * var(--background-square-size)) calc(1 * var(--background-square-size)); }
}

.background-light-tile {
	background: url('assets/images/backdrop/grid-tile-light.png');
	background-size: var(--background-square-size);
	background-repeat: repeat;
	animation: scrollLightTile 1.33s linear infinite;
}

@keyframes scrollLightTile {
	from { background-position: 0 0; }
	to { background-position: calc(-1 * var(--background-square-size)) calc(-1 * var(--background-square-size)); }
}

.background-overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
}

.background-gradient {
	background: url('assets/images/backdrop/gradient.png');
	background-size: 100vw 100vh;
}

.background-vignette {
	background: url('assets/images/backdrop/vignette.png');
	background-size: 100vw 100vh;
	opacity: 42%
}






.content {
	text-align: center;
	font-family: ChicagoMoonshine;
	color: white;
	position: relative;
	margin-top: -5vh;
}

h1 {
	margin: 0px;
	font-weight: normal;
	font-size: 15vh;
}

h2 {
	margin: 0px;
	margin-top: -2vh;
	font-weight: normal;
	font-size: 2.5vh;
	letter-spacing: 0.825vh;
}

.buttons {
	display: flex;
	justify-content: center;
	gap: 6vh;
	margin-top: 4vh;
}

.buttons img {
	filter: brightness(75%);
	height: 2.75vh;
}

.buttons img:hover {
	filter: brightness(100%);
}
