@font-face {
	font-family: wesYuBlack;
	src: url(./fonts/wes-fy/Wes\ FY\ W03\ Black.woff);
}

@font-face {
	font-family: wesYuBold;
	src: url(./fonts/wes-fy/Wes\ FY\ W03\ Bold.woff);
}

@font-face {
	font-family: wesYuMedium;
	src: url(./fonts/wes-fy/Wes\ FY\ W03\ Medium.woff);
}

@font-face {
	font-family: wesYuRegular;
	src: url(./fonts/wes-fy/Wes\ FY\ W03\ Regular.woff);
}

@font-face {
	font-family: wesYuThin;
	src: url(./fonts/wes-fy/Wes\ FY\ W03\ Thin.woff);
}



body {
	margin: 0;
}

header {
	width: 100vw;
	height: 72px;
	position: fixed;
	border-style: solid;
	border-width: 0px;
	border-bottom-width: 1px;
	border-color: #555;
}

	#header-content {
		height: 33.33333%;
		padding: 24px;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
	}

		#header-left {
			display: flex;
			justify-content: flex-start;
			flex-direction: row;
		}

			#header-logo {
				font-family: wesYuBold;
				font-size: 18px;
				display: block;
				padding-left: 12px;
				color:#FFF;
			}

		#header-right {
			height: 100%;
			display: flex;
			justify-content: flex-start;
			flex-direction: row-reverse;
			flex-wrap: nowrap;
		}

			#header-connection-container {
				height: 100%;
				display: flex;
				justify-content: flex-end;
				flex-direction: row;
				border-style: solid;
				border-width: 0px;
				border-left-width: 1px;
				border-color: #555;
			}
			
				.header-connection {
					fill: #FFF;
					margin-left: 40px;
				}

			#header-jump-container {
				height: 100%;
				display: flex;
				justify-content: flex-end;
				flex-direction: row;
			}

				.header-jump {
					margin-right: 40px;
					font-family: wesYuRegular;
					font-size: 18px;
					display: block;
					color:#CCC;
					overflow:none;
					/* border-style: solid;
					border-width: 8px;
					border-radius: 16px;
					border-color: rgba(255, 255, 255, 1); */
				}

				.header-jump:hover {
					border-color: rgba(255, 255, 255, 0.1);
				}

#main {
	height: 100vh;
	background: #010409;
}

a {
	letter-spacing: 1px;
	text-decoration: none;
}

span {
	letter-spacing: 1px;
}